version: "3.9"

services:
  api:
    build: ./backend
    container_name: schedulme_api
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    volumes:
      - ./backend:/app

  celery_worker:
    build: ./backend
    container_name: schedulme_worker
    restart: always
    command: celery -A celery_app.celery_app worker --loglevel=INFO
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
    volumes:
      - ./backend:/app

  celery_beat:
    build: ./backend
    container_name: schedulme_beat
    restart: always
    command: celery -A celery_app.celery_app beat --loglevel=INFO
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
    volumes:
      - ./backend:/app

  postgres:
    image: postgres:15
    container_name: schedulme_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: schedulme_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
